= form_for @bank, :remote => true do |f|
  = f.label :name
  = f.text_field :name, :autofocus => true
  = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius')
  = f.submit nil, :class => 'button tiny radius'