.row
  .large-3.columns
    = form_for @trans, :remote => true, :url => tc_path do |f|
      = f.label         :amount
      = f.text_field :amount
      = f.label         :from
      = f.text_field :from
      = f.label         :to
      = f.text_field :to
      = button_to_function('Cancel', 'cancel_trans()',:class => 'button radius tiny alert')
      = f.submit 'Apply Transaction', :id => 'create_user_button', :class => 'button radius tiny'
  .large-9.columns
